<VirtualHost *:80>
	ServerName symfony.dev
	DocumentRoot /home/thomas/Documents/personnel/datas/git/Symfony2/web
	<Directory /home/thomas/Documents/personnel/datas/git/Symfony2/web>
		DirectoryIndex app_dev.php
		Options -Indexes FollowSymLinks SymLinksifOwnerMatch
		AllowOverride All
		Allow from All
	</Directory>
</VirtualHost>
