<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{% block title %}Programme de sport{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="images/icones/32/gymnast5.png">
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="css/ace-part2.min.css" />
      <link rel="stylesheet" href="css/ace-ie.min.css" />
    <![endif]-->
    <!--[if lte IE 8]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/excanvas.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
